{% extends 'base_main.html' %}
{% load static %}
{% block title %}
		<title>About</title>
{% endblock %}
{% block content %}
	<div class="block-info">
		<div class="block-info_wrapper">
			<div class="block-info__text">
				<p>
					Фотография для меня  - это способ познания нашего мира.
					Главный источник вдохновения -  это, конечно,  – Жизнь – бесконечная река жизни, 
					такая  переменчивая,  непредсказуемая в своих проявлениях и такая прекрасная в своей красоте,
					наполненная  захватывающими  природными пейзажами  и бурной жизнью городов.
					Долгое время занималась только студийной фотосъемкой, имею свою студию.
					Но теперь у меня  есть  прекрасная возможность путешествовать  и дух странствий не дает
					засиживаться в студии. 
				</p>
			</div>
		</div>
	</div>
	<div class="contacts-social-buttons">
            <a href="http://vk.com/id2495113"><img src="{% static 'img/icons/vk.png' %}" width="60px"></a>
	   	    <a href="https://www.facebook.com/photo.lu8"><img src="{% static 'img/icons/fb.png' %}" width="60px"></a>	    
	</div>
        
{% endblock %}
 
