{% extends 'base.html' %}
{% load static %}
<html>
<head>
	{% block title %}
		<title>Главная</title>
	{% endblock %}


          
            <style>
                .body-background{
                    background-size: cover;
                    height: 100vh;
                }
            </style>


</head>

{% block bodyopentag %}
	{% if body_class != "body-photo" %}
	<body style="background:#ffffff url({{background_url}}) no-repeat fixed right top;background-size:cover;height:100vh;"  class="{{body_class}}">
        {% else %}
        <body class="{{body_class}}">
        {% endif %}
{% endblock %}
	
{% block content %}
{% endblock %}

<script src="{% static 'js/all_pages.js' %}"></script>

{% block scripts %}
{% endblock %}
</body>
</html>
