{% extends 'base.html' %}
{% load static %}
<html>
<head>

	{% block title %}
	<meta name='yandex-verification' content='72cd290f41f6ab3f' />
	<meta name="google-site-verification" content="VQaULa7bkwp6lsfaPEL1-hhzm174Zfo4BzRw24sgGJw" />
	<title>Главная</title>
	<meta name="Description" content="Персональный сайт фотографа Людмилы Котвицкой. Здесь расположены мои фотографии из зарубежных поездок - Китай, Мьянма, Япония, Бали, Гималаи. А так же студийные фотографии. Так же на этом сайте есть блог." >
	{% endblock %}


<script>alert("hello!")</script>

          
            <style>
                .body-background{
                    background-size: cover;
                    height: 100vh;
                }
            </style>


</head>

{% block bodyopentag %}
	{% if body_class != "body-photo" %}
	<body style="background:#ffffff url({{background_url}}) no-repeat fixed right top;background-size:cover;height:100vh;"  class="{{body_class}}">
        {% else %}
        <body class="{{body_class}}">
        {% endif %}
{% endblock %}
	
{% block content %}
{% endblock %}

<script src="{% static 'js/all_pages.js' %}"></script>

{% block scripts %}
{% endblock %}
</body>
</html>
