{% extends 'base_main.html' %}
{% load static %}
{% block content %}
	<div class="contacts-social-buttons">
		<a href="http://vk.com/id2495113" target="_blank">
			<img src="{% static 'img/icons/vk.png' %}" width="60px">
		</a>
		<a href="https://www.facebook.com/photo.lu8" target="_blank">
			<img src="{% static 'img/icons/fb.png' %}" width="60px">
		</a>	    
		<a href="https://www.instagram.com/ludmila108/" target="_blank">
			<img src="{% static 'img/icons/inst.png' %}" width="60px">
		</a>	    
	</div>
{% endblock %}
